.header-contents-center {
    position: absolute;
    width: 800px;
    left: calc(50vw - 400px);
    top: calc(50vh - 200px);
    background: white;
    transition: .5s all ease-in-out;
    z-index: 100;
}

.header-contents-top {
    position: absolute;
    top: 0;
    z-index: 100;
    background: lightgray;
    width: 100vw;
    height: 80px;
    transition: .5s all ease-in-out;
}

.header-title {
    position: absolute;
    width: 300px;
    top: 0;
    left: calc(50% - 150px);
    transition: .5s all ease-in-out;
}

.header-title-top {
    position: absolute;
    width: 300px;
    top: 0;
    left: -20px;
    transition: .5s all ease-in-out;
}

.header-moto {
    position: absolute;
    width: 800px;
    top: 50px;
    left: calc(50% - 400px);
    transition: .5s all ease-in-out;
}

.header-moto-top {
    position: absolute;
    width: 800px;
    top: 10px;
    left: 250px;
    transition: .5s all ease-in-out;
}

.header-form {
    position: absolute;
    width: 300px;
    top: 100px;
    left: calc(50% - 150px);
    transition: .5s all ease-in-out;
}

.header-form-top {
    position: absolute;
    width: 300px;
    top: -100px;
    left: calc(50% - 150px);
    transition: .5s all ease-in-out;
}