

.Center-head {
    position: absolute;
    text-align: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    transition: .5s all ease-in-out;
    z-index: 150;
    
}

.Top-Head {
    position: fixed;
    top: 0;
    z-index: 100;
    background: radial-gradient(rgb(109,26,26),rgb(77, 19, 19));
    border-bottom: 1px solid gray;
    width: 100vw;
    height: 80px;
    transition: .5s all ease-in-out;
    z-index: 100;
    
}

.Head-Title {
    position: absolute;
    width: 700px;
    height: 250px;
    top: calc(50% - 184px);
    padding-top: 30px;
    left: calc(50% - 352px);
    transition: .5s all ease-in-out, text-shadow 0s, box-shadow 0s;
    color: white;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 450%;  
    border-radius: 4px;
    border-color: grey;
    border-style: solid;
    background-color: rgba(109, 26, 26,); 
    opacity: 100%; 
    text-shadow: 1.5px 0.5px 50px #0c0101;
    box-shadow: 1.5px 0.5px 10px #1b0404;
    background: radial-gradient(rgb(109,26,26),rgb(77, 19, 19));
    text-rendering: auto;
}

.Top-Head-Title {
    position: absolute;
    width: 400px;
    top: -20px;
    left: 50px;
    transition: .6s all ease-in-out, text-shadow 0s, box-shadow 0s;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 300%;
    text-rendering: auto;
    text-shadow: 1.5px 0.5px 15px #0c0101;
    
}

.Head-Desc {
    position: absolute;
    width: 400px;
    top: calc(50% - 30px);
    left: calc(50% - 200px);
    transition: .5s all ease-in-out;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 140%;
    border-bottom-style: solid;
    border-color:rgb(255, 255, 255);
    color: white;
}

.Top-Head-Desc {
    position: fixed;
    width: 325px;
    top: 10px;
    left: 420px;
    transition: .6s all ease-in-out;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    border-bottom-style: solid;
    border-color: white;
}

.Head-Form {
    position: absolute;
    width: 600px;
    height: 35px;
    top: calc(50% + 60px);
    left: calc(50% - 301px);
    background: #00000088;
    border: 1px solid white;
    border-radius: 20px;
    transition: .5s all ease-in-out;
}

.Top-Head-Form {
    position: absolute;
    width: 0px;
    top: -100px;
    left: calc(50% - 150px);
    opacity: 0;
}

.Header-Input{
    width: calc(100% - 150px);
    height: 25px;
    background: none;
    border: none;
    color: white;
    outline: none;
    text-indent: 10px;
    font-size: 125%;
}


.Search-Bttn{
    background: none;
    outline: none;
    border: none;
    color: white;
    width: 30px;
    height: 35px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 100%;
    overflow: hidden;
}

.Search-Bttn:hover{
    background: none;
    color: gray;
    font-size: 18px;
    border-radius: 3px;
    border-style: solid;
    border: none;
    outline: none;
    font-family: 'Roboto Slab', sans-serif;
}



::placeholder{
    position: absolute;
    color:white;
    font-family: 'Roboto Slab', sans-serif;
    text-indent: 10px;
}

.To-Account{
    position: fixed;
    top: 13px;
    right: 20px;
    z-index: 100;
    border: none;
    background: none;
    outline: none;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    padding-top: 2px;
    font-size: 150%;
    border-radius: 3px;
    font-family: 'Roboto Slab', sans-serif;
}
.Account-Image{
    height: 45px;
    width: 45px;
    bottom: 5px;
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(56, 56, 56);
    border-width: 2px;
    box-shadow: 1.5px 0.5px 15px #0c0101;
}
.Other-To-Account{
    position: fixed;
    top: 13px;
    right: 20px;
    background-color: #ffffff00;
    z-index: 100;
    border: none;
    outline: none;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    padding-top: 2px;
    font-size: 150%;
    border-radius: 3px;
    font-family: 'Roboto Slab', sans-serif;
    border: none;
}

.Publisher-Label{
    position: absolute;
    color: white;
    top: -52px;
    left:calc(48% - 150px);
    font-family: 'Roboto Slab', sans-serif;

}
.Publisher-Select{
    height: 30px;
    width: 100px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 100%;
    color: white;
    background: none;
    border: none;
    outline: none;
}

.Publisher-Option {
    background: #140404
}

.login-form-div {
    position: fixed;
    text-align: left;
    top: 10px;
    right: 30px;
    width: 190px;
    height: 160px;
    z-index: 0;
    background: lightgray;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 50px;
    padding-left: 10px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.hidden-div {
    position: absolute;
    height: 1px;
    width: 1px;
    border-radius: 5px;
    top: 30px;
    right: 40px;
    padding: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.login-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.username-input {
    width: 178px;
    margin-bottom: 15px;
}

.password-input {
    width: 178px;
}

.login-btn {
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: inherit;
}

.signup-btn {
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: inherit;
    transition: all .2s ease-in-out;
}

.hidden-btn {
    right: -100px;
    transition: all .2s ease-in-out;
}

.login-switcher-btn {
    position: absolute;
    top: 20px;
    text-decoration: underline;
    background: none;
    outline: none;
    border: none;
    color: gray;
}

.login-switcher-btn:hover {
    color: black;
}

.header-logout-btn {
    position: absolute;
    top: 28px;
    right: 120px;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    background: none;
    border: none;
    outline: none;
    text-decoration: underline;
    font-size: 16px;
}

.header-logout-btn:hover {
    font-size: 18px;
    color: lightgray;
}