.header-contents-center {
    position: absolute;
    text-align: center;
    width: 100vw;
    padding-top: 45vh;
    top: 0;
    background: white;
    transition: .5s all ease-in-out;
    z-index: 150;
}

.header-contents-top {
    position: fixed;
    top: 0;
    z-index: 100;
    background: lightgray;
    border-bottom: 1px solid gray;
    width: 100vw;
    height: 80px;
    transition: .5s all ease-in-out;
    z-index: 100;
}

.header-title {
    position: absolute;
    width: 300px;
    top: 35vh;
    left: calc(50% - 150px);
    transition: .5s all ease-in-out;
    color: black;
    text-decoration: none;
}

.header-title-top {
    position: absolute;
    width: 300px;
    top: 0;
    left: -20px;
    transition: .5s all ease-in-out;
    color: black;
    text-decoration: none;
}

.header-moto {
    position: absolute;
    width: 800px;
    top: 41vh;
    left: calc(50% - 400px);
    transition: .5s all ease-in-out;
}

.header-moto-top {
    position: absolute;
    width: 800px;
    top: 13px;
    left: 250px;
    transition: .5s all ease-in-out;
}

.header-form {
    position: absolute;
    width: 300px;
    top: 47vh;
    left: calc(50% - 150px);
    transition: .5s all ease-in-out;
}

.header-form-top {
    position: absolute;
    width: 300px;
    top: -100px;
    left: calc(50% - 150px);
    transition: .5s all ease-in-out;
}