.results-content {
    position: absolute;
    top: 80px;
    left: 0px;
}

.results-blur {
    filter: blur(10px);
    transition: all .5s ease-in-out;
}

.results-history {
    position: absolute;
    text-align: left;
    left: 0;
    top: 0;
    width: 200px;
    height: calc(100vh - 81px);
    max-height: calc(100vh - 81px);
    background: lightgray;
    border-top: 1px solid gray;
    overflow: auto;
    z-index: 100;
}

.history-result {
    margin-left: 30px;
    width: calc(100% - 30px);
    text-align: left;
}

.history-title {
    margin-left: 30px;
}

.current-result {
    position: absolute;
    text-align: left;
    top: 0;
    left: 200px;
    padding-left: 51px;
    padding-top: 70px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    width: calc(100vw - 252px);
    height: calc(100vh - 151px);
}

.current-cover {
    width: 300px;
    float: left;
    margin-right: 30px;
}

.current-title {
    font-size: 32px;
    margin-left: 331px;
}

.current-run-length {
    font-size: 24px;
    margin-left: 331px;
}

.current-writer {
    font-size: 24px;
    margin-left: 331px;
}

.current-artist {
    font-size: 24px;
    margin-left: 331px;
}

.current-description-label {
    font-size: 24px;
    margin-left: 331px;
}

.current-description {
    margin-top: -10px;
    margin-left: 331px;
}

.current-description-container {
    margin-top: -10px;
    margin-left: 331px;
    max-height: 440px;
    overflow: auto;
}

.dislike-btn {
    position: absolute;
    font-size: 32px;
    background: none;
    border: 2px solid black;
    outline: none;
    border-radius: 50%;
    left: 130px;
    top: 600px;
    height: 60px;
    width: 60px;
}

.dislike-btn:hover {
    color: red;
}

.dislike-active {
    border-color: red;
    color: red;
}

.like-btn {
    position: absolute;
    font-size: 32px;
    background: none;
    border: 2px solid black;
    outline: none;
    border-radius: 50%;
    left: 200px;
    top: 600px;
    height: 60px;
    width: 60px;
}

.like-btn:hover {
    color: green;
}

.like-active {
    border-color: green;
    color: green;
}